body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #e0e0e0, #c0c0c0);
    margin: 0;
}

.container {
    width: 80%;
    height: 80%;
    background: #eef2f3;
    border: 3px solid black;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    justify-content: space-between;
    
}

.item {
    width: 100px;
    height: 100px;
    background: #d9534f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
